body {
  display: flex;
  flex-direction: column;
}

.info-page {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  left: 33%;
  position: absolute;
}
.inputs {
  margin-bottom: 15px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  align-items: center;
  margin-top: 35px;
  width: 280px;
  border: 1px solid #e4e4e4;
  padding: 20px;
  border-radius: 2px;
}



input {
  width: 260px;
  padding: 12px 7px;
  border-radius: 2px;
  font-size: 11px;
  border: 1px solid #e4e4e4;
}
