:root {
    --light: #CCFFBD;
    --base: #7ECA9C;
    --dark: #40394A;
    --darkest: #1C1427;
    --white: rgb(255, 255, 255);
    --grey: #EEEEEE;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Code', sans-serif;
}

body {
    background: var(--dark);
    display: flex;
    flex-direction: column;
    color: var(--white);
}

header h1 {
    color: var(--dark);
}

header {
    padding: 15px 30px;
    background: linear-gradient(to right, var(--light), var(--base));
    margin-bottom: 20px;
}

.add-task {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.add-task h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--grey);
}

#new-task {
    display: flex;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    background-color: var(--dark);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 18px;
    color: var(--dark);
    display: none;
}

input[type="checkbox"]:hover {
    opacity: 0.6;
}

input[type="checkbox"]:checked{
    background-color: var(--grey);
}

input[type="checkbox"]:checked:after{
    display: block;
}

.check {
    margin-right: 10px;
    background-color: var(--darkest);
}

input[type=submit], button {
    text-transform: uppercase;
}

#add-task {
    flex: 1 1 0%;
    background: linear-gradient(to right, var(--light), var(--base));
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--darkest);
    font-size: 1.25rem;
}

#add-task::placeholder {
    color: var(--dark);
}

#submit-new-task {
    color: var(--light);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--light), var(--base));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#submit-new-task:hover {
    opacity: 0.8;
}

#submit-new-task:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--grey);
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, var(--light), var(--base));
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    cursor: default;
    color: var(--dark);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--darkest);
    cursor: text;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.complete .content {
    text-decoration: line-through;
    color: var(--dark);
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    transition: 0.4s;
    background-image: linear-gradient(to right, var(--dark), var(--darkest));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}