
.right-p {
    width: 350px;
    font-family: Helvetica, Arial, sans-serif;
}

form {
    margin-top: 35px;
    width: 280px;
    border: 1px solid #e4e4e4;
    padding: 100px 35px 20px;
    border-radius: 2px;
}

input {
    width: 260px;
    padding: 12px 7px;
    margin: 3px 0;
    border-radius: 2px;
    font-size: 11px;
    border: 1px solid #e4e4e4;
}

#forgot {
    padding: 85px;
    font-size: 12px;
}

#forgot:link {
    color: #00376B;
    text-decoration: none;
}
#forgot:visited {
    color: #00376B;
    text-decoration: none;
}

#insta-log {
    width: 190px;
    margin: -50px 40px 30px;
}

button {
    border: none;
    border-radius: 6px;
    background-color: #47afff;
    text-align: center;
    width: 280px;
    padding: 8px 0;
    font-weight: bold;
    color: white;
    margin: 12px 0;
}

.reg {
    border: 1px solid #e4e4e4;
    padding: 20px;
    font-size: 13px;
    text-align: center;
    margin: 10px 0 20px;
    width: 310px;
}

.reg a {
    text-decoration: none;
    color: #0095F6;
    font-weight: bold;
}

.reg a:visited {
    text-decoration: none;
    color: #0095F6;
}

hr {
    width: 30%;
}
.app {
    padding: 80px;
    font-size: 13px;
}

.downl {
    padding: 0 5px;
}

li {
    display: inline;
    list-style-type: none;
}

.goog {
    width: 120px;
}

.micro {
    width: 100px;
}

.or {
    display: inline;
}

.or h {
    width: 20%;
    float: left;
}

.mp {
    display: flex;
    justify-content: space-around;
    margin: 50px 350px;
}

#fb-i {
    width: 15px;
}

.fb-au:link {
    font-weight: bold;
    color: #38569e;
    text-decoration: none;
    font-size: 14px;
}

.fb-au:visited {
    font-weight: bold;
    color: #38569e;
}

.ow {
    margin: 20px 50px;
}

.f-b {
    margin: 0 95px;
}

li{
    flex-wrap: wrap;
    display: inline;
    list-style-type: none;
    color: #8A8D91;
    margin: 0 8px;
    justify-content: space-around;
    font-size: 13px;
}

li a:link {
    color: #8A8D91;
    text-decoration: none;
}

li a:visited {
    color: #8A8D91;
}

footer {
    height: 60px   ;
}

#dw {
    text-align: center;
}

.or {
    display: flex;
    padding: 0;
    margin: 20px 0;
}

.an {
    color: #8A8D91;
    margin: 0;
}

.underl {
    width: 500px;
}