.prod {
    margin-bottom: 70px;
    margin-left: 30px;
    /* display: flex; */
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: rgb(255, 239, 235);
    padding: 0  30px;
}

.inner {    
    background-color: white;
    padding: 0 10px;
}

h2 {
    margin: 10px 40px 0;
    font-weight: 800;
    font-size: 30px;
}

.btns{
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.btns button {
    height: 35px;
}

app-product-alerts {
    margin-top: -15px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/