body {
  margin: 0 30px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.find {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}

h1, body a, span {
  color: rgb(97, 37, 153);
}
.find-vacancy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.company-vacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.company-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding:  8px;
}

.vacancy {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 4px;
  padding:  8px 16px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
