/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 5px 10px;
    border-width: 1px;
    background: linear-gradient(to top, rgb(201, 164, 219), rgb(255, 191, 240));
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: rgb(19, 14, 44);
    cursor: pointer;
}

a:visited {
    color: rgb(19, 14, 44);
}

a:hover {
    opacity: 0.8;
    text-decoration: underline;
}